.card {
    width: 40.5vw;
    height: 32.5vh;
    background-size: cover;
    opacity: 80%;
    margin-bottom: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    mat-card-footer {
        position: absolute;
        bottom: 1vh;
        margin-left: 2vw;
        h5 {
            font-family: 'inter';
            color: #fff;
            font-weight: 500;
            font-size: 4vw;
        }
        mat-chip {
            border-radius: 2vw;
            background-color: #fff;
            span { font-family: 'inter' }
        }
    }
}