<mat-card appearance="outlined" class="card" 
     [ngStyle]="{ 'background-image': imgUrl, 'opacity': cardType == types.restaurant? '80%': '50%'}">
     <!-- Resturant card -->
     @if (cardType == types.restaurant) {
        <mat-card-footer>
            <h5>{{cardData.name}}</h5>
            <mat-chip-set>
                @for (tag of cardData.tags ; track $index) {
                    <mat-chip>{{tag}}</mat-chip>
                }
            </mat-chip-set>
        </mat-card-footer>
     }

    <!-- Menu card -->
    @if (cardType == types.menu) {
        <mat-card-content>{{cardData.name}}</mat-card-content>
    }
</mat-card>
