.meals {
    mat-card {        
        background-color: #333;
        color: white;
        img {
            width: 30vw;
            height: 15vh;
            border-radius: 8px;
            object-fit: cover;
        }
        .unavSpan {
            position: absolute;
            left: 5vw;
            font-size: 4vw;
            font-weight: 500;
        }
        mat-card-content{
            font-family: 'inter';
            font-weight: 400;
            h5 { font-size: 4vw }
            p { font-size: 3vw }
            .addBtn {
                background-color: #fff;
                border: none;
                border-radius: 2vw;
            }
        }
        &.unavailable {
            box-shadow: 0px 4px 4px 0px #00000040;
            opacity: 84%;
            cursor: none;
        }
    }
}